:root {
  font-family: Open Sans;
}

/* Estilização Cabeçalho */

.header_index {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #ffffff;
  height: 399px;
  background: #422755 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  clip-path: polygon(0 0, 100% 0, 100% 69%, 0 60%);
  line-height: 10px;
  height: 381px;
}

.header_title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.header_text {
  font-size: 18px;
}

/* Estilização Container Busca de Tarefas */

.container_tasks {
  width: 1081px;
  height: 85px;
  background: #feaf3d;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 35px;
}

.container_input {
  width: 276px;
  height: 34px;
  background: #ffffff;
  border-radius: 8px;
  border: none;
  padding-left: 8px;
}

.container_button {
  width: 69px;
  height: 34px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #6e4b87;
  border-radius: 8px;
  border: none;
  margin-left: -15px;
}

.container_button:hover {
  background: #422755;
}

.container_label {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  height: 34px;
  margin-right: 15px;
}

.container_select {
  width: 193px;
  height: 34px;
  background: #ffffff;
  border-radius: 8px;
  font-size: 14px;
  color: #414141;
  border: none;

}

/* Estilização Cards de tarefas */

.container_card {
  display: flex;
  flex-wrap: wrap;
  max-width: 1081px;
  margin: 0px auto;
  justify-content: center;
}

.card {
  height:100%;
  border: 1px solid #000;
  border-radius: 14px;
  padding: 10px;
  margin: 10px 10px;
  color: #414141;
  display: flex;
  flex-direction: column;
}

.tag_card_prazo_curto {
  width: 102px;
  height: 29px;
  background: #422755;
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: -20px;
}

.tag_card_prazo_atrasado {
  width: 102px;
  height: 29px;
  background: #f04837;
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: -20px;
}

.icone {
  color: #F04837;
  display: none;
}

.input_card_tarefa {
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: #414141;
  margin-top: 5px;
}

.label_card_descricao {
  font-size: 12px;
  margin: 5px 0px;
  border: none;
  width: 218px;
  height: 48px;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.card_prazo_curto {
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
}

.card_prazo_atrasado {
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
}

.card_periodo_atrasado {
  width: 63px;
  height: 14px;
  font-weight: bold;
  font-size: 10px;
  margin-top: 5px;
  color: #f04837;
  text-align: center;
}

.card_prazo {
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
}

.label_prazo_curto {
  color: #f04837;
  font-weight: bold;
}

.label_prazo {
  color: #f04837;
  font-weight: bold;
}

.card_inclusao {
  font-size: 10px;
  color: #414141;
  margin-top: 5px;
}

i {
  margin-right: 10px;
}

.card_button_concluir {
  width: 218px;
  height: 40px;
  background: #422755;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  display: none;
  margin-top: 10px;
}

.card_button_concluir > div {
  display: inline-flex;
}

.card_button_concluir:hover {
  background: #6e4b87;
}

.card_button_prazo {
  margin-top: 10px;
  width: 218px;
  height: 40px;
  background: #f04837;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  display: none;
}

.card_button_prazo:hover {
  background: #c02615;
}

.card:hover .card_button_prazo {
  display: block;
}

.card:hover .card_button_concluir {
  display: block;

}

.card_button {
  width: 197px;
  height: 38px;
  background: #6e4b87;
  border-radius: 8px;
  color: #fff;
  border: none;
  margin: 20px 0;
}

.card_button:hover {
  background: #422755;
}

/* Estilização seção dicas */

.dicas {
  width: 876px;
  height: 122px;
  background: #e5e5e5;
  border-radius: 8px;
  margin: 10px auto;
  padding: 10px;
}

.dicas_paragrafo {
  color: #6e4b87;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
}

.form_dicas {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.dicas_cadastro {
  display: flex;
}

.dicas_nome {
  display: flex;
  flex-direction: column;
}

.dicas_email {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.form_label {
  font-size: 12px;
  color: #757575;
  margin-left: 8px;
  margin-bottom: 5px;
}

.form_input {
  background: #ffffff;
  border-radius: 8px;
  width: 335px;
  height: 34px;
  border: none;
  padding-left: 8px;
}

.button_form {
  align-items: center;
  padding: 15px;
  margin-top: 5px;
}

.button_dicas {
  width: 100px;
  height: 34px;
  background: #6e4b87;
  border-radius: 8px;
  color: #fff;
  border: none;
}

.button_dicas:hover {
  background: #422755;
}

/* Estilização "Sobre" */

.sobre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1081px;
  margin: 0 auto;
  padding: 50px;
}

.sobre_imagem {
  width: 234px;
  height: 137px;
  justify-content: center;
}

.sobre_text {
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin-left: 50px;
  font-size: 14px;
  color: #414141;
  line-height: 19px;
}

/* Estilização do footer */

footer {
  height: 126px;
  background-color: #422755;
}

.footer_index {
  text-align: center;
  font-size: 12px;
  color: #fff;
  
}

.footer_text {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;

}

/* Estilização Mobile */

@media (max-width: 600px) {

  :root{
    width: 100%;
  }

  .header_index {
    height: 160px;
  }

  .header_title {
    margin-top: 20px;
    font-size: 24px;
    
  }

  .header_text {
    margin-top: 70px;
    color: #c02615;
    border: #c02615 1px solid;
    position: absolute;
   
  
  }

  .container_tasks {
    width: 344px;
    height: 146px;
    display: block;
     
  }

  .container_seach{
    display:flex ;
 
 }

  .container_deadline{
    display:flex;
    justify-content: space-around;

  }

  .container_card {
    width: 210px;
    display: block;
    
  }

   .card{
    transform: rotate(-90deg);
    width: 210px;
    height: 340px;
    margin: 0;
    margin-bottom: -100px;
    margin-top: -50px;
    padding: 0;
    }

.img_card{
   width: 258,94px;
   height:210px;
   clip-path: polygon(0 0, 70% 0, 70% 100%, 0% 100%); 
   margin-top: 20px;

}
.input_card_tarefa{
  
  align-items: center;
}


   .img_card,
   .input_card_tarefa,
   .label_card_descricao, 
   .card_button_concluir ,
   .prazo,
   .inclusao  {
    transform: rotate(90deg);
        
   } 

   .tag_card_prazo_curto, .tag_card_prazo_atrasado{
     display: none;
   }

  .icone {
    display: inline-flex;
   margin-left: 50px;
    font-size: 20px;
  }

  .card_button_concluir {
    display: flex;
    background: #fff;
    color: #422755;
    border: 1px solid #422755;
    font-weight: bold;
    font-size: 16px;
    font-family: Open Sans;
    width: 155px;
    height:30px;
  }

  .card_button_concluir > div {
    display: none;
  }

  .card:hover .card_button_prazo {
    display: none;
  }

  .card_button{
    margin-top: 100px;
  }

  .dicas {
    display: none;
  }

  .sobre {
    flex-direction: column;
    flex-wrap: wrap;
    width: 309px;
    align-items: center;
  }

  .sobre_imagem {
    width: 157px;
    height: 94px;
    margin-bottom: 50px;
    margin-left: 0;
  }

  .sobre_text {
    width: 309px;
    margin: 0px;
  }

}
